In [2]:
# 2.1
b = int(input("length: "))
h = int(input("height: "))
area = (b*h)/2
print("area of a triangle: ", area)

length: 4
height: 5
area of a triangle:  10.0

In [4]:
# 2.2
# 
import math
lat1 = float(input("Latitude 1: "))
lon1 = float(input("Longitude 1: "))

lat2 = float(input("Latitude 2: "))
lon2 = float(input("Longitude 2: "))

radLat1 = math.radians(lat1)
radLat2 = math.radians(lat2)
radLon = math.radians(lon2-lon1)

distance = math.acos(math.sin(radLat1)*math.sin(radLat2) + math.cos(radLat1)*math.cos(radLat2)*math.cos(radLon))*6371.01
print("Distance: ", distance, " KM")

Latitude 1: 50
Longitude 1: 30
Latitude 2: 60
Longitude 2: 100
Distance:  4375.025636888268  KM

In [5]:
# 2.3
days = int(input("Days: "))
hours = int(input("Hours: "))
minutes = int(input("Minutes: "))
seconds = int(input("Seconds: "))

totalSeconds = days*24*3600 + hours*3600 + minutes*60 + seconds
print("Total seconds: ", totalSeconds)

Days: 3
Hours: 3
Minutes: 3
Seconds: 60
Total seconds:  270240

In [6]:
# 2.4
celsius = float(input("Celsius: "))

print("Fahrenheit: ", celsius * (9/5) + 32)
print("Kelvin: ", celsius + 273.15)

Celsius: 45
Fahrenheit:  113.0
Kelvin:  318.15

In [15]:
# 2.5
color = int(input("Color number: "))

if (color < 380):
    print("None")
elif (color < 450):
    print("Violet")
elif (color < 495):
    print("Blue")
elif (color < 570):
    print("Green")
elif (color < 590):
    print("Yellow")
elif (color < 620):
    print("Orange")
elif (color <= 750):
    print("Red")
else:
    print("None")

Color number: 900
None

In [24]:
# 2.6
print("Celsius Fahrenheit")
for i in range(0, 101, 10):
    print(i, "\t", i*1.8+32)

Celsius Fahrenheit
0 	 32.0
10 	 50.0
20 	 68.0
30 	 86.0
40 	 104.0
50 	 122.0
60 	 140.0
70 	 158.0
80 	 176.0
90 	 194.0
100 	 212.0

In [2]:
# 2.7
n = int(input("Height: "))
for i in range(n):
    for j in range(i):
        print(' ', end=' ')
    print('*', end=' ')
    test = n-i
    for j in range(test*2-3):
        print(' ', end=' ')
    if (i != n-1):
        print('*')
    else:
        print()

Height: 10
*                                   *
  *                               *
    *                           *
      *                       *
        *                   *
          *               *
            *           *
              *       *
                *   *
                  *

In [9]:
# 2.8
listNum = [1,2,3,4,5,6,7,8,9]
odd, even = 0, 0
for i in listNum:
    if (i%2==0):
        even+=1
    else:
        odd+=1
print("Number of even numbers: ", even)
print("Number of odd numbers: ", odd)

Number of even numbers:  4
Number of odd numbers:  5

In [5]:
# 2.9
listNum = [15,26,30,40,55,36,27,81,19]
print("Largest number: ", max(listNum))

Largest number:  81

In [11]:
# 2.10
L1 = [15,26,30,40,55,36,27,81,19]
L2 = [16,28,31,40,56,36,27,80,29]
myList = list()
for i in L1:
    if i in L2:
        myList.append(i)
print(myList)

[40, 36, 27]

In [1]:
# 2.11
ch = True
myList = list()
while (ch):
    i = int(input())
    if(i==0):
        ch = False
    else:
        myList.append(i)

myList.reverse()
for i in myList:
    print(i)

1
2
3
4
5
6
7
8
9
0
9
8
7
6
5
4
3
2
1

In [6]:
# 2.12
myDict = {
    "banana": 14,
    "orange": 30,
    "cherry": 28,
    "strawberry": 15,
}

print(sum(myDict.values()))

87

In [8]:
# 2.13
str1 = str(input("Input string: "))
print(str1)
uniqueChar = set(str1)
print(len(uniqueChar))

Input string: Hello VKUer!
Hello VKUer!
10

In [10]:
# 2.14
myDict = {
    "banana": 14,
    "orange": 30,
    "cherry": 28,
    "strawberry": 15,
}

avg = sum(myDict.values())/len(myDict)
for i in myDict:
    myDict[i] = avg
print(myDict)

{'banana': 21.75, 'orange': 21.75, 'cherry': 21.75, 'strawberry': 21.75}

In [13]:
# 2.15
myTuple = ('toan', 'ly', 'hoa', 'sinh', 'su', 'dia', 'gdcd')
if 'gdtc' in myTuple:
    print("Exists")
else:
    print("Don't exists")

Don't exists

In [27]:
# 2.16
myTuple = ('toan', 'ly', 'hoa', 'sinh', 'su', 'dia', 'gdcd')
test = list(myTuple)
test.reverse()
a = tuple(test)
print(a)

('gdcd', 'dia', 'su', 'sinh', 'hoa', 'ly', 'toan')

In [35]:
# 2.17
mySets = {12, 3, 5, 93, 20, 6, -9}
print("Max number: ", max(mySets))
print("Min number: ", min(mySets))

Max number:  93
Min number:  -9

In [46]:
# 2.18
setA = {"banana", "cherry", "mango", "dragonfruit", "apple", "math"}
setB = {"banana", "cherry"}

chk = setB.issuperset(setA)
print(setA)
print(setB)
print(chk)

{'math', 'dragonfruit', 'mango', 'apple', 'banana', 'cherry'}
{'banana', 'cherry'}
False

In [48]:
# 2.19
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7, 8}

setA.difference_update(setB)
print(setA, setB)

{1, 2, 3} {4, 5, 6, 7, 8}

In [49]:
# 2.20
listA = [9, 1, 2, -1, 8, 2, 4]
mul = 1
for i in listA:
    if (i % 2 == 0 ):
        mul *=i
print(mul)

128