In [5]:
#1.1
import pandas as pd

In [6]:
#1.2
print(pd.__version__)
print(pd.show_versions())

2.1.2

INSTALLED VERSIONS
------------------
commit              : a60ad39b4a9febdea9a59d602dad44b1538b0ea5
python              : 3.11.5.final.0
python-bits         : 64
OS                  : Windows
OS-release          : 10
Version             : 10.0.19045
machine             : AMD64
processor           : Intel64 Family 6 Model 126 Stepping 5, GenuineIntel
byteorder           : little
LC_ALL              : None
LANG                : None
LOCALE              : English_United States.1252

pandas              : 2.1.2
numpy               : 1.26.1
pytz                : 2023.3.post1
dateutil            : 2.8.2
setuptools          : 65.5.0
pip                 : 23.3
Cython              : None
pytest              : None
hypothesis          : None
sphinx              : None
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : None
html5lib            : None
pymysql             : None
psycopg2            : None
jinja2              : 3.1.2
IPython             : 8.15.0
pandas_datareader   : None
bs4                 : 4.12.2
bottleneck          : None
dataframe-api-compat: None
fastparquet         : None
fsspec              : None
gcsfs               : None
matplotlib          : None
numba               : None
numexpr             : None
odfpy               : None
openpyxl            : None
pandas_gbq          : None
pyarrow             : None
pyreadstat          : None
pyxlsb              : None
s3fs                : None
scipy               : None
sqlalchemy          : None
tables              : None
tabulate            : None
xarray              : None
xlrd                : None
zstandard           : None
tzdata              : 2023.3
qtpy                : None
pyqt5               : None
None

In [9]:
#2.1
import numpy as np
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
print(s)

a   -0.368661
b    0.456540
c    0.974670
d    0.739638
e    0.766150
dtype: float64

In [13]:
d = {"a": 0.0, "b": 1.0, "c": 2.0}
s = pd.Series(d, index=["a", "b", "c", "d"])
print(s)

a    0.0
b    1.0
c    2.0
d    NaN
dtype: float64

In [14]:
s = pd.Series(5.0, index=["a", "b", "c", "d", "e"])
print(s)

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [34]:
#2.2
d = {"a": 100, "b": 200, "c": 300, "d": 400, "e": 800}
arr1 = np.array([10,20,30,40,50])
dictSeries = pd.Series(d)
print("Dictionary:")
print(dictSeries)
arrSeries = pd.Series(arr1, dtype='int64')
print("Array")
print(arrSeries)

Dictionary:
a    100
b    200
c    300
d    400
e    800
dtype: int64
Array
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [36]:
#2.3
pdSeries = pd.Series(5, index=["a", "b", "c", "d", "e"], dtype=float)
print(pdSeries)

# Python List
pythonList = pdSeries.tolist()
print(pythonList)
# Numpy array
numpyArray = np.array(pdSeries)
print(numpyArray)

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64
[5.0, 5.0, 5.0, 5.0, 5.0]
[5. 5. 5. 5. 5.]

In [37]:
# 3.1
d={"col1":[1,2], "col2":[3,4]}
df=pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [38]:
d={"col1": [0,1,2,3], "col2": pd.Series([2,3], index=[2,3])}
df=pd.DataFrame(data = d, index=[0,1,2,3])
df

   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [39]:
df = pd.DataFrame(np.array([[1,2,3], [4,5,6], [7,8,9]]), columns=["a", "b", "c"])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [41]:
lst = ['a', 'b', 'c', 'd', 'e', 'f']
lst2 = [1,2,3,4,5,6]
df1 = pd.DataFrame(list(zip(lst, lst2)), columns=['Name', 'val'])
df1

  Name  val
0    a    1
1    b    2
2    c    3
3    d    4
4    e    5
5    f    6

In [43]:
valSeries = pd.Series(df1["val"])
print(valSeries)

0    1
1    2
2    3
3    4
4    5
5    6
Name: val, dtype: int64

In [52]:
# 3.3
dict = {'name': ['Anne', 'Peter', 'Katherine', 'Josh', 'Antone', 'Michael', 'Mark', 'Lorie', 'Ken', 'Jack'], 
       'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=dict, index=labels, columns=["name", "score"])
df

        name  score
a       Anne   12.5
b      Peter    9.0
c  Katherine   16.5
d       Josh    NaN
e     Antone    9.0
f    Michael   20.0
g       Mark   14.5
h      Lorie    NaN
i        Ken    8.0
j       Jack   19.0

In [ ]:
# 4.1